/*

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/


/*************************/
/* General */
/*************************/

:root {
  --primary__color: #ED1B24;
  --primary__color--medium: #a61319;
  --primary__color--dark: #5f0b0e;
  --font__color: #fff;
  --white: #fff;
  --gray--footer: #111;
  --gray--background: #222;
  --gray--medium: #333;
  --gray--light: #777;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scrollbar-color: var(--primary__color) var(--gray--medium);
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--font__color);
  background-color: var(--gray--background);
}

.btn {
  color: var(--font__color);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  display: block;
}

.center {
  text-align: center;
}

.header__primary {
  font-size: 5.2rem;
  font-weight: 700;
  animation: 0.5s linear hero__text;
}

.header__secondary {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}

.header__tertiary {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
  padding-left: 1.8rem;
  border-left: 0.5rem solid var(--primary__color);
}

.header__quaternary {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  padding-left: 1.2rem;
  border-left: 0.5rem solid var(--primary__color);
}

.header__primary,
.header__secondary,
.header__tertiary {
  letter-spacing: -0.5px;
  font-weight: 700;
  color: var(--white);
}

.sub__header {
  color: var(--primary__color);
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 1.6rem;
}

.section__padding {
  padding: 9.6rem 3.2rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.6rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5 {
  grid-template-columns: repeat(5, 1fr);
}

.margin__top--24 {
  margin-top: 2.4rem;
}

.margin__top--32 {
  margin-top: 3.2rem;
}

.margin__top--48 {
  margin-top: 4.8rem;
}

.margin__top--64 {
  margin-top: 6.4rem;
}

.margin__top--8 {
  margin-top: 8rem;
}

.margin__top--96 {
  margin-top: 9.6rem;
}

.hide {
  display: none;
}

.hide--nav {
  transform: translateX(100%);
}

/*************************/
/* Customize Things */
/*************************/

::selection {
  background: var(--primary__color);
  color: var(--white);
}

::-moz-selection {
  background: var(--primary__color);
  color: var(--white);
}

/*************************/
/* Hero section */
/*************************/

.hero {
  height: 90dvh;
  border-bottom: 2px solid #777;
}

.hero__content {
  max-width: 130rem;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 0 3.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.hero__text {
  transform: translateY(6rem);
}

.hero__img {
  width: 100%;
  border-radius: 1.2rem;
}

.hero__description {
  font-size: 2rem;
  color: var(--gray--light);
  animation: 0.5s linear hero__description;
  line-height: 1.5;
}

.hero__btn {
  background-color: var(--primary__color);
  color: var(--white);
  padding: 1.6rem 4.8rem;
  border-radius: 9999999rem;
  opacity: 0;
  animation: 0.5s 0.5s ease-in hero__btn;
  animation-fill-mode: forwards;
  transition: all 0.2s;
  display: inline-block;
}

.hero__btn:hover {
  background-color: var(--primary__color--medium);
}

@keyframes hero__text {
  0% {
    transform: translateX(-5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes hero__description {
  0% {
    transform: translateX(5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes hero__btn {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*************************/
/* Navigation */
/*************************/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.6rem 2.4rem;
}

.nav__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo {
  height: 6.4rem;
}

.nav__btn {
  color: var(--white);
  margin: 1.2rem 2.4rem;
  transition: all 0.2s;
}

.nav__btn:hover {
  color: var(--primary__color);
}

.nav__btn--last {
  background-color: var(--primary__color);
  color: var(--white);
  padding: 1.6rem 4.8rem;
  border-radius: 99999rem;
}

.nav__btn--last:hover {
  color: var(--white);
  background-color: var(--primary__color--medium);
}

.nav__mobile {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  height: 100dvh;
  width: 30rem;
  background-color: var(--gray--background);
  transition: all 0.5s;
  border-top-left-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  box-shadow: -0.5rem 0 1rem #00000030;
}

.nav__mobile--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
  border-bottom: 3px dashed var(--primary__color);
}

.nav__mobil--logo {
  height: 4.8rem;
  width: 4.8rem;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.nav__mobile--btn {
  border: none;
  background-color: #00000000;
}

.nav__mobile--open {
  display: none;
}

.nav__mobile--icon {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--primary__color);
  transition: all 0.2s;
  cursor: pointer;
}

.nav__mobile--icon:hover {
  color: var(--primary__color--medium);
}

.nav__mobile--navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

/*************************/
/* How It Works */
/*************************/

.hiw__number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--gray--light);

}

.hiw__description {
  font-size: 1.8rem;
  line-height: 1.7;
}

.hiw__img {
  width: 100%;
  border-radius: 0.8rem;
}

/*************************/
/* Features */
/*************************/

.feature__icon {
  background-color: var(--primary__color);
  color: var(--white);
  height: 3.2rem;
  width: 3.2rem;
  padding: 1rem;
  border-radius: 99999rem;
}

.feature__description {
  font-size: 1.6rem;
  line-height: 1.7;
}

/*************************/
/* Testimonial */
/*************************/

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
}

.slide {
  position: absolute;
  padding: 6.4rem 8rem;
  transition: all 0.2s;
}

.slide__header {
  border-left: none;
  padding-left: 0;
}

.slide__text {
  font-size: 1.8rem;
  line-height: 1.7;
  color: var(--gray--light);
}

.slide__author--img {
  height: 6.4rem;
  border-radius: 99999rem;
  border: 3px solid var(--primary__color);
  display: block;
}

.slider__btn {
  position: absolute;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.2rem;
  border-radius: 99999rem;
  border: none;
  background-color: var(--primary__color);
  color: var(--white);
  top: 50%;
  z-index: 10;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn:hover {
  background-color: var(--primary__color--medium);
}

.slider__btn--left {
  left: -5%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: -5%;
  transform: translate(50%, -50%);
}

.slide__author {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.slide__author--name {
  font-size: 1.6rem;
}

.slide__author--score {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.8rem;
}

.score__text {
  font-size: 1.2rem;
}

.score__icon {
  color: var(--primary__color);
  height: 1.6rem;
  width: 1.6rem;
}

.quotes {
  position: absolute;
  height: 3.6rem;
  left: 2rem;
  top: 1rem;
}

.dots {
  position: absolute;
  display: flex;
  gap: 1.6rem;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--gray--light);
  border-radius: 99999rem;
  cursor: pointer;
}

.dot--active {
  background-color: var(--primary__color);
}

/*************************/
/* Footer */
/*************************/

.footer {
  background-color: var(--gray--footer);
  padding: 6.4rem 3.2rem;
}

.footer__logo {
  height: 6.4rem;
  display: block;
  margin: 4.8rem auto;
}

.footer__navigation {
  display: grid;
  gap: 3.2rem;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
}

.footer__btn {
  color: var(--white);
  transition: all 0.2s;
  text-align: center;
}

.footer__btn:hover {
  color: var(--primary__color);
}

.footer__text {
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
}

.year {
  font-weight: 500;
}

.me {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  transition: all 0.2s;
}

.me:hover {
  color: var(--primary__color);
}

.footer__media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-bottom: 6.4rem;
}

.footer__medium {
  height: 3.2rem;
  width: 3.2rem;
  padding: 1rem;
  border-radius: 99999rem;
  background-color: var(--white);
  color: var(--gray--footer);
  transition: all 0.2s;
}

.footer__medium:hover {
  background-color: var(--primary__color);
  cursor: pointer;
}

/*************************/
/* Modal Window */
/*************************/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--gray--background);
  height: 47rem;
  width: 70rem;
  box-shadow: 0rem 0 2rem #00000070;
  border-radius: 1rem;
  z-index: 100;
  padding: 4.8rem;
}

.modal__btn--close {
  position: absolute;
  height: 3.2rem;
  width: 3.2rem;
  top: 1.6rem;
  right: 1.6rem;
  border: none;
  background-color: #00000000;
  color: var(--primary__color);
}

.modal__btn--icon {
  height: 3.2rem;
  width: 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.modal__btn--icon:hover {
  color: var(--primary__color--medium);
}

.modal__header {
  font-size: 3.6rem;
  margin-bottom: 4.8rem;
}

.modal__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.modal__form--input {
  height: 4.8rem;
  width: 100%;
  padding-left: 1.6rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
}

.modal__form--input:focus {
  outline: 3px solid var(--primary__color);
}

select.modal__form--input:focus {
  outline: none;
}

.modal__form--btn {
  height: 4.8rem;
  width: 100%;
  border-radius: 1rem;
  border: none;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: var(--primary__color);
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s;
}

.modal__form--btn:hover {
  background-color: var(--primary__color--medium);
}